<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>2345Shop</display-name>
  
  <servlet>
		<servlet-name>DongDongQiangServlet</servlet-name>
		<servlet-class>servlet.DongDongQiangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DongDongQiangServlet</servlet-name>
		<url-pattern>/DongDongQiangServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>FengQiangServlet</servlet-name>
		<servlet-class>servlet.FengQiangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FengQiangServlet</servlet-name>
		<url-pattern>/FengQiangServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>GoodChoiseServlet</servlet-name>
		<servlet-class>servlet.GoodChoiseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodChoiseServlet</servlet-name>
		<url-pattern>/GoodChoiseServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>BaoYouServlet</servlet-name>
		<servlet-class>servlet.BaoYouServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaoYouServlet</servlet-name>
		<url-pattern>/BaoYouServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>CarServlet</servlet-name>
		<servlet-class>servlet.CarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarServlet</servlet-name>
		<url-pattern>/CarServlet</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <!--  <filter>
  	<filter-name>LoginControllerFilter</filter-name>
  	<filter-class>filter.LoginControllerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginControllerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>